server.port: 9003

spring:
  application:
    name: kafka-board-view-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/article_view
    username: root
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
    data:
      redis:
        host: 127.0.0.1
        port: 6379
